.img-logo {
    max-width: 123px;
    max-height: 74px;
}

.title-app {
    font-family: 'Poppins Medium';
    color: #0FB198;
}

.form-login input {
    font-family: 'Poppins Medium';
    font-weight: 500;
}

#login-btn {
    font-family: 'Poppins SemiBold' !important;
}

.alert {
    font-family: 'Poppins Medium' !important;
}

.p-name {
    font-size: 0.7rem !important;
}

.custom-tbl {
    font-size: 9pt;
}

.dt-length {
    font-size: 9pt;
}

.dt-search {
    font-size: 9pt;
}

.dt-info {
    font-size: 9pt;
}

.dt-paging {
    font-size: 9pt;
}

.pc-footer {
    position: relative;
    z-index: 995;
    margin-left: 280px;
    margin-top: 105px !important;
    padding: 0px 0 !important;
}

.pc-footer p {
    font-size: 8pt !important;
}

.column-search,#dt-search-0 {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji' !important;
    font-feature-settings: 'salt';
}

div.dt-processing > div:last-child {
    display: none;
}

.dropend .dropdown-toggle::after {
    display: none !important;
}

.act-menu {
    font-size: 9pt;
}

.act-btn, .form-custom input, .form-custom label, .form-custom button, .form-custom #menu-tree, .form-custom a, .form-custom textarea, .form-custom .select2, .form-custom select, .select2-results, .select2-search__field, .form-custom .form-check-input, .form-custom .form-notes, .form-custom .card-header, .form-custom .card-body, .form-custom td {
    font-size: 9pt;
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji' !important;
    font-feature-settings: 'salt' !important;
}

.table {
    font-size: 9pt !important;
}

/*.dt-scroll-body {
    min-height: 125px;
}*/

.inter-var {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji' !important;
    font-feature-settings: 'salt';
}

.form-custom p b{
    font-size: 9pt;
}

.form-check-input.izin {
    margin-top: unset !important;
}

.logo-form {
    width: 100%;
    max-width: 200px;
}

.form-header {
    background: #E6EDFB;
}

.old.day, .new.day{
    color: lightgray !important;
}

.form-table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#form-list .nav-link {
    font-size: 9pt;
}

#form-list .nav-link {
    color: black;
}

#form-list .nav-link.active {
    font-weight: 600;
    color: blue;
}

.red-pastel {
    background-color: #ffcccc; /* pastel red */
}

.swal2-actions button {
    font-size: 9pt !important;
}

.signature-div {
    border: 1px solid #bec8d0;
}

.signature-div.is-invalid{
    border: 1px solid red !important;
}

.invalid-feedback {
    font-size: 9pt !important;
}

.datepicker {
    padding-left: 7px !important;
}

textarea {
    padding-left: 7px !important;
}

.fc-event {
    font-size: 7pt !important;
}

.apexcharts-legend-text {
    font-family: 'Poppins', sans-serif !important;
    font-size: 10pt; /* Optional: You can also change the font size */
}

.text-bg-green {
    background-color: #949D83 !important;
    color: white !important;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    font-size: 10pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.dataTables_processing > div:last-child {
    display: none;
}

.dataTables_scrollBody {
    overflow: unset !important;
}

div.dt-buttons span.dt-button-down-arrow {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form-pt {
       font-size: 6pt;
   }

    .dt-length {
        display: none;
    }

    h5.form-title {
        font-size: 0.892rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form-pt {
        font-size: 6pt;
    }

    .dt-length {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-pt {
        font-size: 7pt;
    }

    .dt-length {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form-pt {
        font-size: 7pt;
    }

    .dt-length {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .form-pt {
        font-size: 7pt;
    }

    .dt-length {
        display: block;
    }
}
